* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html {
    background: rgba(0, 0, 0, 0) url("img/howlingwolf.JPG") no-repeat center center fixed;
    background-size: cover;
}

body {
    text-align: center;
    font-family: 'Arapey', serif;
}

.banner {
    padding-top: 1rem;
}

h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
    color: #f08080;
    padding-bottom: 5rem;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
}

.begin p {
    font-size: 30px;
    padding-top: 25rem;
    color: #28e9af;
    text-shadow: 2px 2px 4px #000000;
}

#begin-button,
#startOver {
    font-size: 1.5rem;
    padding: 5px 5px;
    margin-top: 1rem;
    border-radius: 5%;
    color: #f08080;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000000;
    background-color: transparent;
    border: 2px solid #28e9af;
}

.quiz {
    display: inline-block;
}

#questions {
    font-size: 30px;
    color: #28e9af;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 15rem;
    width: 75%;
}

.option {
    margin-right: 10px;
}

#choices {
    font-size: 25px;
    color: #28e9af;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    text-align: left;
}

#score {
    font-size: 25px;
    color: #6d94ff;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1rem;
}

#showCurrentQuestionNumber {
    font-size: 25px;
    color: #f08080;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1rem;
}

#resultsMessage h3 {
    font-size: 25px;
    color: #28e9af;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1rem;
}

#resultsMessage h4 {
    font-size: 25px;
    color: #f08080;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1rem;
}

#finalScore {
    font-size: 25px;
    color: #6d94ff;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1rem;
}
